div.seo-fix > input[type=text] {
  padding: 4px;
  width: 98%;
  color: black;
  font-size: 16px;
}


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    vertical-align: middle;
    margin-left: 0.6rem;
}

/* Hide default HTML checkbox */

.switch input {
    display: none;
}

/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

/* Remove all input default border and shadow in modify-menu*/

#modify-menu input[type=text] {
    outline-color: invert;
    outline-style: none;
    outline-width: 0px;
    border: none;
    border-style: none;
    text-shadow: none;
    -webkit-appearance: none;
    -webkit-user-select: text;
    outline-color: transparent;
    box-shadow: none;
    color: black;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

.textarea {
    color: white;
    font-family: Arial;
}
.notifs {
    background-color: var(--context-color);
    /* transform: translateX(44px); */
    position: absolute;
    top: 0px;
    width:256px;
    height:128px;
    font-size: 1.4rem;
    resize: none;
    text-align: center;
    border: none;
    border-radius: 0.4rem;
    font-weight: bold;
    padding-top: 1em;
    animation: notifs-invisible 0.5s forwards, fadeOut 0.5s forwards;
}
.notifs.visible {
  animation: notifs-visible 0.5s forwards, fadeIn 0.5s forwards;
}
@keyframes notifs-visible {
  0% {transform:translateX(-128px);}
  100% {transform: translateX(calc(-256px - 48px));}
}
@keyframes notifs-invisible {
  0% {transform:translateX(calc(-256px - 48px));}
  100% {transform: translateX(-128px);}
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity: 1;}
}
@keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity: 0;}
}

.logger {
    background-color: transparent;
    width: 100%;
    height: 50px;
    border: none;
}

/* Rounded sliders */

.slider.round {
    border-radius: 17px;
}

.slider.round:before {
    border-radius: 50%;
}

.switch+label {
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
}

.filename {
    color: #FFF;
    padding-left: 3px;
    vertical-align: top;
    display: block;
    font-weight: bold;
    font-size: 1.2rem;
}

div.imgFolder {
    text-align: center;
    padding: 0.6em;
}

div.imgFolder > img {
    max-width: 100%;
    min-width: 2em;
}

a.troubleshooter {
    position: absolute;
    top: 1rem;
    /* top: calc(100% - 3em); */
    display: inline-block;
    right: 2em;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.editor-menu {
    display: initial !important;
}

.disabled {
    color: #BBB;
}

input.global-setting[type=checkbox] {
    display: none;
}

input.global-setting[type=checkbox]:checked+span.label-checkbox {
    background: #bcbbff;
}

span.label-checkbox {
    padding: 2px;
    border-radius: 10px;
}

span.label-checkbox:hover {
    background-color: rgba(0, 0, 0, 0.06);
    cursor: pointer;
}

span#ambiguity-id {
    color: #9dff00;
    display: block;
}

.solution {
    display: block;
    padding: 3px;
}

.solution.selected {
    background: rgba(255, 255, 255, 0.2);
}

.solution:not(.selected):hover {
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.solution.notfinal {
    color: #f6f6aa;
}

.add {
    background: lightgreen
}

.remove {
    background: #f8a7a7;
    text-decoration: line-through
}

div.disambiguationMenu {
    height: 40%;
    overflow-y: auto;
    padding-left: 0.3em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    border: 2px solid #f6f6aa;
}

.codepreview {
    font-family: monospace;
    padding: 3px;
    background: white;
    color: black;
    margin-left: 0.1em;
}

.solution:not(.selected) .codepreview {
    background: rgba(255, 255, 255, 0.8);
}

#modify-menu button.modifyMenuButton {
    background-color: var(--context-button-color);
    min-height: var(--context-button-width);
    color: var(--context-dom-text-color);
    border-style: none;
    margin-top: 5px;
    padding: 0.4em;
    font-weight: bold;
    cursor: pointer;
}

#modify-menu button.modifyMenuButton:hover {
    background-color: var(--context-button-color-hover);
}

#editor_codepreview, #manualsync-menuitem {
    display: none;
    z-index: 999;
}

[ghost-visible=true] {
    display: initial !important;
}

[ghost-disabled=true] {
    opacity: 0.5 !important;
    cursor: initial;
    pointer-events: none !important;
}

[ghost-disabled=false] {
    opacity: 1 !important;
    pointer-events: auto !important;
}

#manualsync-menuitem[ghost-disabled=false]>button {
    cursor: pointer !important;
    opacity: 1 !important;
    pointer-events: auto !important;
}

#manualsync-menuitem[force-visible=true] {
    display: initial;
}

[ghost-visible=false] {
    display: none !important;
}

#manualsync-menuitem>button {
    vertical-align: top;
    opacity: 0.5;
    cursor: initial;
    pointer-events: none;
}

#editor_codepreview {
    width: 100%;
    height: 600px;
}

@media screen and (max-width: 800px) {
    body {
        font-size: 48px;
    }
    menu.edittoolbar {
        right: 10px;
    }
    menuitem.filename {
        display: none;
    }
    /*menuitem {
      font-size: 2.5em;
    }*/
    button {
        font-size: 1em;
    }
    menuitem#question-menuitem {
        display: none;
    }
    menuitem#autosave-menuitem {
        display: none;
    }
    #editor_codepreview {
        width: 100%;
        height: 600px;
    }
    @keyframes notifs-visible {
      0% {transform:translateY(-64px);}
      100% {transform: translateY(calc(-128px - 48px));}
    }
    @keyframes notifs-invisible {
      0% {transform:translateY(calc(-128px - 48px));}
      100% {transform: translateY(-64px);}
    }

}

div#modify-menu textarea.inline-CSS {
    width: 100%;
    height: 100px;
    margin-bottom: 6px;
    overflow-y: auto;
    color: black;
}

div#modify-menu #CSS-modification {
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
}

div#modify-menu button.action-button {
    color: white;
    background: var(--context-dom-children-selector-color);
    font-size: 1em;
    margin-top: 6px;
    margin-bottom: 6px;
    display: block;
    border-radius: 0.4em;
    height: 2em;
    font-weight: normal;
    padding: 6px;
    border: none;
}


div#modify-menu button.action-button:hover {
    -webkit-filter: contrast(125%);
    /* Chrome, Opera */
    -moz-filter: blur(125%);
    -ms-filter: blur(125%);
    filter: blur(125%);
    border: none;
}


div#modify-menu #CSS-modification > button#add-inline-style:hover {
    -webkit-filter: contrast(125%);
    /* Chrome, Opera */
    -moz-filter: blur(125%);
    -ms-filter: blur(125%);
    filter: blur(125%);
}

div#modify-menu #CSS-modification .linked-CSS {
    width: 100%;
    height: 250px;
}

div#modify-menu #CSS-modification>.CSS-modify-unit {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

div#modify-menu #CSS-modification>.CSS-modify-unit>.CSS-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#modify-menu #CSS-modification>.CSS-modify-unit > textarea {
    width: 100%;
    height: 100px;
    overflow-y: auto;
    font-family: monospace;
    color: black;
    border-radius: 0.2em;
    border: none;
    font-size: 16px;
    padding: 6px;
}

div#modify-menu #CSS-modification>div.CSS-chain {
    margin-bottom: 6px;
}

div#modify-menu #CSS-modification>.CSS-modify-unit .CSS-action-button:hover {
    background-color: var(--context-button-color-hover);
}

div#modify-menu #CSS-modification>.CSS-modify-unit .CSS-selectors {
    width: 100%;
    height: 100px;
    overflow-y: auto;
    font-family: monospace;
    color: black;
    border-radius: 0.2em;
    border: none;
    font-size: 0.8em;
    padding: 6px;
}

div#modify-menu div#fullLog {
  max-height: 50%;
}

.summary {
    color: green;
}

div#modify-menu {
    -webkit-box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0px;
    right: 0px;
    width: 400px;
    height: 100%;
    background-color: var(--context-color);
    color: var(--context-dom-text-color);
    padding: 5px;
    font-size: 16px;
    transform: translate(100%, 0px);
    transition-property: transform;
    transition-duration: 0.5s;
    z-index: 100001;
}

.modify-menu-holder {
    width: 100%;
    height: calc(100% - 10px);
    overflow-y: auto;
    font-family: Arial, Helvetica, sans-serif;
}
div.modify-menu-icons:not(.pinned) ~ div.modify-menu-holder {
  height: calc(100% - 50px);
}

.modify-menu-icon {
    vertical-align: middle;
    cursor: pointer;
    width: var(--context-menu-button-width);
}

.modify-menu-icon:hover {
    background-color: var(--context-button-color-hover);
}

div#modify-menu>div.modify-menu-icons:not(.pinned) {
    width: 100%;
    height: 30px;
    overflow-x: auto;
    margin: 5px;
}

div#modify-menu>div.modify-menu-icons.pinned {
    width: var(--context-menu-button-width);
    position: absolute;
    left: calc(0px - var(--context-menu-button-width));
}

div#modify-menu>div.information {
    overflow-y: auto;
    max-height: calc(100% - var(--context-menu-height) - 15%);
    margin: 2%;
    margin-top: 0;
    border-radius: 0.3em;
}

div#modify-menu>div.information-style {
    padding: 0.4rem;
}

/* information part scroll bar */
.information.information-style::-webkit-scrollbar {
    background: transparent;
    width: 8px;
}

.information.information-style::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

div.information>textarea {
    font-size: 1em;
}

div#modify-menu.visible {
    transform: translate(0%, 0%);
}

div#modify-menu h3 {
    margin-top: 2px;
    margin-bottom: 2px;
}

div#modify-menu button.CSSbutton {
    width: 98%; 
    height: 7%;
    padding: 4px;
    margin-left: 4px;
}

div#modify-menu div.keyvalues {
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

div#modify-menu div.keyvalues>div.keyvalue {
    font-size: 16px;
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
}

div#modify-menu div.keyvalues>div.keyvalue .attribute-key-value {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
}

div#modify-menu div.keyvalues>div.keyvalue .attribute-key {
    width: 39%;
}

div#modify-menu div.keyvalues>div.keyvalueadder {
    opacity: 0.5;
}

div#modify-menu div.keyvalues>div.keyvalueadder:hover {
    opacity: 1;
}

div#modify-menu div.keyvalues>div.keyvalueadder .attribute-key-value{
    display: flex;
    flex-direction: row;
}

div#modify-menu div.keyvalue input {
    padding: 4px;
    width: 98%;
    color: black;
    font-size: 16px;
}

div#modify-menu .codefont {
    font-size: 1.4em;
    font-family: monospace;
}

div#modify-menu .tagname-input {
    padding: 4px;
    flex: 1;
}

div#modify-menu .tagname-input input {
    display: inline-block;
}

div#modify-menu .tagname-info {
    display: inline-block;
    border-radius: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: transparent;
    color: var(--context-dom-text-color);
    flex: 2;
    line-height: 3.5em;
}

div#modify-menu input[type=radio] {
    width: initial;
    font-size: 1em;
}

div#modify-menu span.insertOption {
    display: block;
}

div.keyvalue span>input {
    border-radius: 4px;
    margin: 2px;
}

div.tagname-summary {
    display: flex;
    background-color: var(--context-dom-selector-color);
    border-radius: 0.4em;
    padding: 4px;
    margin: 2%;
}

.inline-input {
    background: transparent;
    color: var(--context-dom-text-color);
    border: none;
}

/* dom selector css */

div.dom-selector-style {
    margin: 2%;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0.4em;
    padding: 0.4rem;
}

div.childrenElem {
    display: flex;
    height: 30px;
    margin-top: 4px;
}

div.mainElemName {
    color: var(--context-dom-text-color);
    font-family: monospace;
}

div.childrenSelectorName {
    font-family: monospace;
}

div.childrenSelector {
    min-width: 50px;
    position: relative;
    flex: 1;
    text-align: center;
    overflow: hidden;
    padding: 2px;
    margin: 2px;
    border-radius: 0.3rem;
    background-color: var(--context-dom-children-selector-color);
    transition: all 0.5s;
    text-decoration: none;
    cursor: pointer;
}

div.childrenSelector:hover {
    -webkit-filter: contrast(125%);
    /* Chrome, Opera */
    -moz-filter: blur(125%);
    -ms-filter: blur(125%);
    filter: blur(125%);
}

div.editor-interface-dom-selector {
  opacity: 0.5;
  color: #ffe5b5;
}
div.editor-recorded-ghost-node {
  opacity: 0.5;
}
div.editor-recorded-ghost-attribute {
  opacity: 0.5;
}
div.editor-ignored-attribute {
  background: #a2a2a2;
}


div.mainElem {
    height: 62px;
    position: relative;
    text-align: center;
    overflow: hidden;
    font-size: 1.3em;
    text-overflow: ellipsis;
}

div.mainElemInfo {
    font-size: 0.6em;
    color: var(--context-dom-text-color);
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.childrenSelectorInfo {
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--context-dom-text-color);
    height: 38px;
    font-size: 0.8em;
}

div.elementAttr {
    margin-left: 6px;
    display: inline-block;
    font-size: 0.6em;
    line-height: 1.02em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: var(--context-dom-text-color);
}

div.no-children, div.no-parent {
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    color: black;
    border-radius: 0.3rem;
    font-weight: bold;
    line-height: 36px;
    font-size: 0.8rem;
    pointer-events: none;
}

div.no-children {
    width: 100%;
}

div.no-sibling {
    background-color: transparent;
    color: black;
    width: 20%;
    text-transform: uppercase;
    font-size: 0.8em;
    line-height: 20px;
    font-weight: bold;
    min-width: 50px;
    pointer-events: none;
}

/* make button's text unselectable for better user experience */

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selectedDom {
    background-color: var(--context-dom-selector-color) !important;
    border: none;
}

#upload-image-btn-a {
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 20px;
    position: relative;
    color: black;
    background: transparent;
    border-radius: 4px;
    display: inline-block;
    height: 20px;
    width: 280px;
}

#upload-image-btn-input {
    position: absolute;
    top: -7px; /* alignment */
    left: 0;
    width: 100%;
}

/* highlight selected image */

div.highlight-select-image {
    border: 1px solid white;
    border-radius: 0.76em;
}

:root {
    --context-color: rgba(0, 128, 128, 0.8);
    --context-color-next: rgba(0, 158, 158, 0.8);
    --context-button-color: rgba(0, 192, 192, 0.8);
    --context-button-color-hover: rgba(0, 232, 232, 0.8);
    --context-button-color-inert: rgba(128, 128, 128, 0.8);
    --context-button-color-inert-hover: rgba(150, 150, 150, 0.8);
    --context-button-color-inert-active: rgba(182, 182, 182, 0.8);
    --context-dom-selector-color: rgba(0, 212, 159, 0.8);
    --context-dom-children-selector-color: rgba(0, 178, 179, 0.8);
    --context-dom-text-color: whitesmoke;
    --context-menu-height: 30px;
    --context-menu-button-width: 40px;
    --context-menu-padding-top: 0px;
    --context-menu-padding-left: 0px;
    --context-button-selected: rgba(0, 212, 212, 0.8);
    --context-editor-container-title: rgba(0, 178, 179, 0.6);
}

div.tagName {
    margin-top: 0.24rem;
    /* padding: 4px; */
    cursor: pointer;
    /* background: var(--context-button-color); */
    vertical-align: text-bottom;
}

div.tagName:not(.nohover):hover {
    background: var(--context-button-color-hover);
}


#customHTML {
    height: 6%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

[ghost-hovered=true] {
    outline: 2px dashed var(--context-color-next);
}

[ghost-clicked=true] {
    outline: 2px solid var(--context-color);
}

[wrong-selector=true]{
    background-color: #fbcaca;
}

div#context-menu {
    position: absolute;
    display: none;
    background-color: var(--context-color);
    color: white;
    font-weight: bold;
    z-index: 1000000;
}

div#context-menu.visible {
    display: block;
    height: var(--context-menu-height);
    width: 200px;
}

div#context-menu .context-menu-button, div#modify-menu .modify-menu-button, div#modify-menu .modify-menu-icons .context-menu-button {
    background: var(--context-button-color);
    display: inline-block;
    width: var(--context-menu-button-width);
    cursor: pointer;
}

div.modify-menu-icons:not(.pinned) > div.modify-menu-button {
    background-color: transparent !important;
    border-radius: 0.4rem;
    margin-right: 0.2rem;
}

div.modify-menu-icons:not(.pinned) > div.modify-menu-button:hover {
    background-color: var(--context-button-color) !important;
}

div#context-menu .context-menu-button, div#modify-menu .modify-menu-icons:not(.pinned) .modify-menu-button {
    height: var(--context-menu-height);
}

div#modify-menu .modify-menu-icons.pinned .modify-menu-button {
    border-bottom: 1px solid black;
}

div#modify-menu .modify-menu-icons.pinned .modify-menu-button:last-child {
    border-bottom: none;
}

div#context-menu .context-menu-button.selected, div#modify-menu .modify-menu-button.selected {
    background: var(--context-button-selected);
}

div#modify-menu .modify-menu-button.inert.active {
    background: var(--context-button-color-inert-active)
}

div#modify-menu .modify-menu-button.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

div#modify-menu .modify-menu-icon-label {
    display: block;
    color: white;
    font-size: calc(var(--context-menu-button-width) / 3);
    text-align: center;
}

div#modify-menu .modify-menu-icon-label-link {
    display: block;
    color: white;
    font-size: calc(var(--context-menu-button-width) / 4);
    text-align: center;
}

/* div#context-menu .context-menu-button>svg, div#modify-menu .modify-menu-button>svg {
    padding: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
} */

div#context-menu .context-menu-button.inert, div#modify-menu .modify-menu-icons.modify-menu-icons .modify-menu-button.inert {
    background: var(--context-button-color-inert)
}

svg.context-menu-icon>path {
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 2px;
    stroke-linecap: butt;
    -linejoin: miter;
    stroke-opacity: 1;
}

svg.context-menu-icon.fill>path {
    fill: #FFFFFF;
    fill-rule: evenodd;
}

div#context-menu .context-menu-button:hover, div#modify-menu .modify-menu-button:hover:not(.disabled) {
    background: var(--context-button-color-hover);
}

div#context-menu .context-menu-button.inert:hover, div#modify-menu .modify-menu-button.inert:hover:not(.disabled) {
    background: var(--context-button-color-inert-hover)
}

div#modify-menu div.keyvalues>div.keyvalue #applyNewTagName {
    display: none;
}

div#modify-menu div.keyvalues>div.keyvalue #applyNewTagName.visible {
    display: flex;
    width: var(--context-menu-button-width);
    padding: 4px;
}
div#modify-menu div.keyvalues>div.keyvalue #newTagName {
    background: none;
    color: white;
}

div#modify-menu div.keyvalues>div.keyvalue #newTagName:focus {
    background: white;
    color: initial;
}


div#modify-menu div.keyvalues>div.keyvalue #applyNewTagName + div#newtagname-align-placeholder {
  display: flex;
  width: calc(var(--context-menu-button-width) - 8px);
  padding: 4px;
  margin: 2px;
  border-radius: 4px;
  border-width: 2px;
}

div#modify-menu div.keyvalues>div.keyvalue #applyNewTagName.visible + div#newtagname-align-placeholder {
  display: none;
}

textarea.textChildNodeContent {
  width: 95%;
  height: 100px;
  border-radius: 0.4em;
  border: 0;
  margin-top: 6px;
  padding: 10px;
  color: black;
  resize: vertical;
  min-height: 50px;
  font-size: 0.8em;
}

textarea.templateengine {
    width: 100%;
    height: 100%;
    max-height: 50%;
    color: black;
    border-radius: 0.4rem;
    border: 0;
    padding: 0.4em;
    font: normal 0.8em Consolas, Monaco, monospace;
    resize: none;
    opacity: 0.8;
}

textarea.templateengine:focus {
    outline: none;
    opacity: 1;
}

#modify-menu span.insertOption label {
  display: inline-block;
}


.to-be-selected {
    animation: OrangeWait 3s linear infinite;
    background: linear-gradient(90deg, orange 0%, gold 5%, gold 10%, orange 15%) !important;
    background-size: 200% 100% !important;
}

@keyframes OrangeWait { 
    0% { 
      background-position: 30% 0%;
    }
    30%, 100% {
      background-position: -100% 0%;
    }
}

div.editor-container {
  margin-top: 3px;
}

div.editor-container-title > div.expand-menu {
  float: left;
  line-height: 30px;
  padding-left: 6px;
}
div.editor-container:first-of-type div.arrowup, div.editor-container:last-of-type div.arrowdown {
  visibility: hidden;
}
div.editor-container.minimized div.editor-container-content {
  display: none;
}
div.editor-container.disabled div.editor-container-title {
  color: #BBB;
}
div.editor-container:not(.disabled) > div.editor-container-title:hover {
  -webkit-filter: contrast(125%);
    /* Chrome, Opera */
    -moz-filter: blur(125%);
    -ms-filter: blur(125%);
    filter: blur(125%);
}

div.editor-container div.editor-container-title div.editor-container-icon svg.context-menu-icon.fill>path {
  fill: #BBB;
  stroke-width: 0px;
}
div.editor-container div.editor-container-title div.editor-container-icon:hover svg.context-menu-icon.fill>path {
  fill: white;
}
div.editor-container-title {
  border-radius: 0.2rem;
  height: 30px;
  background-color: var(--context-editor-container-title);
  cursor: pointer;
  font-family: Tahoma, sans-serif;
  font-weight: bold;
}

div.editor-container-content {
  padding: 6px;
  padding: 6px;
  max-height: 80%;
  overflow-y: auto;
}

div.editor-container-content button {
    outline: none;
}

div.editor-container div.editor-container-title div.editor-container-icon {
  float: right;
  margin-top: 5px;
}
div.editor-container.minimized div.editor-container-title div.editor-container-icon#displayArrow {
  transform: rotate(180deg);
  transform-origin: 50% 50%;
}

div.editor-container-content > div.draftList > div.draft-row {
    display: flex;
}

div.editor-container-content > div.draftList > div.draft-row:not(#draft-title) > * {
    flex-grow: 1;
    flex-shrink: 1;
}


div.editor-container-content > div.draftList > div.draft-row > button {
    margin: 4px;
    border-radius: 0.2em;
    color: var(--context-dom-children-selector-color);
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 0.88em;
    border: none;
    height: 1.6em;
    cursor: pointer;
}

div.editor-container-content > div.draftList > div.draft-row > button:hover {
    -webkit-filter: contrast(125%);
    /* Chrome, Opera */
    -moz-filter: blur(125%);
    -ms-filter: blur(125%);
    filter: blur(125%);
    background-color: var(--context-dom-children-selector-color);
    border: none;
    color: white;
}

div.editor-container-content > div.draftList > div.draft-row > button.draft-switch {
    color: white;
    background: linear-gradient(left, var(--context-dom-selector-color) , var(--context-dom-children-selector-color));
    background: -webkit-linear-gradient(left, var(--context-dom-selector-color) , var(--context-dom-children-selector-color));
    flex-basis: 10px;
}

div.draftList > div.draft-row > button.draft-publish,
div.draftList > div.draft-row > button.draft-clone,
div.draftList > div.draft-row > button.draft-delete {
    flex-basis: 20px;
}

div.draftList > div.draft-row > button.draft-delete:hover {
    color: rgb(204, 204, 0) !important;
    font-weight: bold;
}

div.editor-container-content > div.draftList > div#draft-title {
    padding-left: 4px;
    padding-right: 4px;
}

div.editor-container-content > div.draftList > div#draft-title > label {
    margin-top: 6px;
}

div.editor-container-content > div.draftList > div#draft-title > label:first-child {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 2px;
    padding-right: 10px;
}

label.switch {
  position: relative;
}

div#modify-menu div.translation-title {
  font-weight: bold;
  margin-top: 5px;
}
div#modify-menu textarea.translation-content {
  color: black;
  width: 100%;
  height: 120px;
  max-height: 50%;
}

.translate-select {
  color: black;
}

@media screen and (max-width: 800px) {
    div#modify-menu {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        /* font-size: 48px; */
        bottom: 0px;
        left: 0px;
        top: initial;
        right: initial;
        height: 40%;
        width: 100%;
        min-height: 350px;
        transform: translate(0px, 100%);
        padding: 0;
        padding-bottom: 8px;
    }
    div#modify-menu>div.modify-menu-icons.pinned {
        width: auto;
        height: var(--context-menu-height);
        position: absolute;
        top: calc(0px - var(--context-menu-height));
        left: 0px;
    }
    div#modify-menu>div.modify-menu-icons.pinned span.modify-menu-icon-label {
        display: none;
    }
    div#modify-menu>div.modify-menu-icons.pinned >div.modify-menu-button {
        height: 50px;
    }
    div#modify-menu>div.modify-menu-icons.pinned svg {
        height: 50px;
    }
    div.bottom-placeholder {
        width: 100%;
        height: 30%;
    }
    :root {
        --context-menu-height: 48px;
        --context-menu-button-width: 48px;
        --context-menu-padding-top: 9px;
        --context-menu-padding-left: 4px;
    }
    /* mobile dom selector */
    div.dom-selector-style {
        height: 30%;
        margin: 0.15em;
        border-radius: 0.4em;
        margin: 2%;
    }
    div.elementAttr {
        display: none;
    }
    div.mainElem {
        margin-bottom: 0;
        height: 56%;
    }
    div.childrenSelector {
        font-size: 1.2em;
    }
    div.no-sibling {
        font-size: 1em;
    }
    /* mobile modify menu */
    div.tagname-summary {
        padding-left: 10px;
    }
    div.information {
        margin: 2%;
        margin-top: 0;
        height: 215px;
        overflow-y: auto;
    }
    div.information>textarea {
        font-size: 1.2em;
        border-radius: 0.3em;
        border: none;
        padding: 1.5%;
    }
    textarea.templateengine {
        width: 100%;
        height: 100%;
        color: black;
        font-size: 1.4rem;
        border-radius: 0.4rem;
        border: 0;
        padding: 0.4rem;
    }
    div.insert-information-style {
        max-height: 400px;
        height: 400px;
    }
    div.insert-information-style>h1 {
        margin: 0;
    }
}